*{
    font-family: sans-serif;
}

.header{
    text-align: center;
    background-color: rgb(237, 237, 237);
    margin: 10px;
    
    
}

.navbar{
    background-color: black;   
    margin: 10px;
}

ul{
    padding: 0;

}

ul a{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 2px;
} 

.float_link{
    float: right;   
}

.feed{
    background-color: rgb(237, 237, 237); 
    padding: 2px 20px;
    text-align: justify;
    margin: 10px;
    display: inline-block;
}

.img-title{
    background-color: rgb(147, 143, 143);
    height: 100px;
    padding: 20px;
}

.img-about{
    background-color: rgb(147, 143, 143);
    height: 50px;
    padding: 20px;
}
.img-popular{
    background-color: rgb(147, 143, 143);
    height: 50px;
    padding: 20px;
    margin: 10px 0;
}

.about{
    background-color: rgb(237, 237, 237);
    padding: 20px;
    margin: 10px;
    display: block;


}

.popular{
    background-color: rgb(237, 237, 237);
    padding: 20px;
    margin: 10px;
    display: block;

    
}
.left-colm{
    float: left;
    width: 65%;
}

.right-colm{
    float: left;
    width: 35%;

}

@media screen and (max-width:600px){
    .left-colm{
        width: 100%;
        float: none;

    }   
    .right-colm{
        width: 100%;
        float: none;

    }

}